* {
  padding: 0;
  margin: 0;
}

.banner {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: #ff4f81;
}

.banner div {
  position: absolute;
  left: 30px;
}

.banner p {
  font-size: 10rem;
  font-weight: 600;
  color: #fff;
}

.banner span {
  font-size: 4rem;
  color: #fff;
}

.main {
  display: flex;
  flex-direction: column;
  
  /* width: 100%; */
  /* height: 40vh; */
  padding: 30px;
  background-color: #2b2d42;
}

.main img {
  width: 60vw;
}

.picture {
  display: flex;

  color: #fff;
}