* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.banner {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: #e08aa2;
}

.banner .word {
  position: absolute;
  left: 30px;
}

.banner .tools {
  position: absolute;
  right: 20px;
  color: #dddddd;
}

.banner p {
  font-size: 10rem;
  font-weight: 600;
  color: #fff;
}

.banner span {
  font-size: 4rem;
  color: #fff;
}

.go {
  width: 200px;
  height: 60px;
  border-radius: 20px;
  background: linear-gradient(to right, #ff8c00, #ff6347);
  padding: 10px 20px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  color: white;
  transition: all 0.8s ease;
}

.go:hover {
  background: linear-gradient(to right, #ff6347, #ff8c00);
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 30px;
  background-color: #2b2d42;
}

.main img {
  width: 60vw;
}

.picture {
  display: flex;
  color: #fff;
}


/* 轮播图 */
.focus {
  position: absolute;
  top: 100px;
  right: 30px;
  width: 590px;
  height: 290px;
  overflow: hidden;
}

.arrow-l,
.arrow-r {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  z-index: 999;
  display: none;
  height: 36px;
  width: 36px;
  line-height: 36px;
  cursor: pointer;
  transition: .3s;
  border-radius: 50%;
  background-color: rgba(31, 45, 61, .2);
  color: rgb(223, 223, 223);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.arrow-l:hover,
.arrow-r:hover {
  background-color: rgba(255, 255, 255, 0.188);
}

ul {
  position: absolute;
  top: 0;
  right: 0;
  width: 600%;
}

ul li {
  float: left;
  width: 590px;
  height: 290px;
}

.focus img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.circle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.circle>li {
  float: left;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  opacity: .5;
  cursor: pointer;
}

.circle .current {
  opacity: 1;
}